.FilterButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .FilterButton:hover {
    border-radius: 6px;
    border: 2px solid #D9D9D9;
    background: #FFF;
  }
  
  .FilterButton.active {
    border-radius: 6px;
    border: 2px solid #D9D9D9;
    background: #F5F5F5;
  }

  .FilterButton:focus {
    outline: none;
  }